.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: rgb(35, 32, 32);
  color: aliceblue;
}

.brown {
  color: brown;
}

.dark-mode {
  background-color: #282c34;
}

.details {
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 160px;
  width: 160px;
}

/* .todo-list{

} */

.todo-preview {
  padding: 6px;
  border: 1px solid;
}

/* /* helpers * / */

.flex {
  display: flex;
}

.gap_1 {
  gap: 1rem;
}

.todo-details{
  border: 1px solid;
}